<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Actualizar album </title>
</head>
<body>
    <h2> Actualiza Album </h2>
    
    {% with mensajes = get_flashed_messages() %}
        {% if mensajes%}
            {% for msj in mensajes %}
                <h4 style="color: blue">{{ msj }}</h4>
            {% endfor%}
        {% endif%}
    {% endwith%}

    <form id="formUpdate" action="/actualizarAlbum" method="post">
        <input type="hidden" name="txtId" value="{{ album.0 }}">
        
        <input type="text" name="txtTitulo" placeholder="Titulo" value="{{ album.1 }}">
        {% if errores and errores.txtTitulo %}
            <p style="color: red;">{{errores.txtTitulo}}</p>
        {% endif %}

        <input type="text" name="txtArtista" placeholder="Artista" value="{{ album.2 }}">
        {% if errores and errores.txtArtista %}
            <p style="color: red;">{{errores.txtArtista}}</p>
        {% endif %}

        <input type="text" name="txtAnio" placeholder="Año de publicación" value="{{ album.3 }}">
        {% if errores and errores.txtAnio %}
            <p style="color: red;">{{errores.txtAnio}}</p>
        {% endif %}

        <button type="submit"> Actualiza Album </button>
    </form>
    <a href="/"> Regresar al formulario </a>
</body>
</html>